header {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    a {
      color: #000;
      text-decoration: none;
    }
}

div.face {
  position: relative;
}

div.iris {
  position: absolute;
  top: 23px;
  left: 11px;
  
}

div.iris-right {
  left: 49px;
}

div.iris div {
  position: relative;
  top: 0;
  left: 0;
  width: 6px;
  height: 6px;
  background-color: #052837;
  border-radius: 3px;
  transform: translate(-50%,-50%);
}
